@media (max-width: 1920px) {
.round{
    margin: 1% 2%;
}
}


/* (1680x1050) WSXGA+ Display */

@media (max-width: 1680px) {
    .round{
        margin: 1% 1.5%;
    }

}


/* (1600x900) HD+ Display */

@media (max-width: 1600px) {
    
}

/* iPad or %125 Zoom 1080p */

@media (max-width: 1536px) {
    .notification .numbers .wrap {
        margin-bottom: 10px;
    }
}

/* (1440x900) WXGA+ Display - MacBook */

@media (max-width: 1440px) {
    .round{
        margin: 1% 1%;
    }
}


/* (1366x768) WXGA Display - Laptop */

@media (max-width: 1366px) {
    .round {
        width: 40px;
        height: 40px;
        margin: 1% 1.5%;
    }
    .round label {
        width: 34px;
        height: 34px;
    }
    .notification .numbers .wrap {
        margin-bottom: 5px;
    }
    .people .name span {
        padding: 5px 0;
    }
    footer {
        
        padding: 5px;
        font-size:10px;
    }
}


/* (1280x1024) SXGA Display */

@media (max-width: 1280px) {
 
}

@media (width: 1024px) {
 
}


/* Phones ---------- */

/* iPad */

@media(max-device-width: 1024px) {
 
}


/* iPhone 4 & 4S */

@media(max-device-width: 960px ) and (max-width: 960px){
    .t-card div {
        height: 50px;
        width: 40px;
        font-size: 28px;
    }
    .logo img {
        width: 80%;
    }
    .countdown canvas{
        width:90px;
        height:90px;
    }
    .form-or-name .text {
        font-size: 20px;
    }
    .form-or-name .text span {
        font-size: 22px;
        color: #ffdc00;
    }
    footer{
        text-align: center !important;
    }
    footer .right{
        float:unset;
        margin-top:15px;
    }
    .error-text {
        margin-top: unset;
        top: 60%;
        left: 0;
        right: 0;
        text-align: center;
    }
    .form-group{
        padding:0;
    }
    .two.form-group .form-group:last-child {
        padding-left: 35px;
    }
    .two.form-group .form-group:last-child {
        padding-left: 10px;
    }
    .two.form-group .form-group:first-child {
        padding-right: 10px;
    }
    .button-100 .btn-main {
        margin-bottom: 20px;
    }
    .countdown .clock:after {
        height: 75%;
        border: 3px solid #49635b;
        top: 4px;
    }
}

/* Tablets */

@media(max-device-width: 768px) and (max-width: 768px){
/* insert styles here */
}

/* Android - General Smartphone */

@media (max-device-width: 640px) and (max-width: 640px){
/* insert styles here */
}

/* iPhone */

@media(max-device-width: 480px) and (max-width: 480px) {
 

}

/* Slim Smartphone */

@media(max-device-width: 375px) and (max-width: 375px){
 
}

@media(max-device-width: 320px) and (max-width: 320px){
    .t-card div {
        height: 43px;
        width: 33px;
        font-size: 22px;
        border: solid 1px #000;
    }
    .countdown .clock:after {
        height: 75%;
        border: 3px solid #49635b;
        top: 4px;
    }
    .countdown canvas{
        width:75px;
        height:75px;
    }
    .countdown .label span{
        font-size:28px;
    }
    #form-register input {
        padding: 10px;
    }

}

